body{
background-color: burlywood
}
h1 {
    font-family:'playfair_displayblack_italic';
    color:chartreuse
}

p {font-family: fantasy;
color: fuchsia
}
#headie {
    padding: 20px;
    border:1px black solid;
    margin: 30px;
    background-color: dimgrey
}
#bodcop {
    padding: 5px;
    border: 2px red solid;
    margin: 10px;
    background-color: coral;
}
.othercolor {
    color: darkgoldenrod;
    font-family: inherit

@font-face {
    font-family: 'playfair_displayblack_italic';
    src: url('playfairdisplay-blackitalic-webfont.woff2') format('woff2'),
         url('playfairdisplay-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
